<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054760619727-kemttr76ktl75e1d8365m48v301fv7kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054760619727-kemttr76ktl75e1d8365m48v301fv7kt</string>
	<key>API_KEY</key>
	<string>AIzaSyDjUqeihF09mdrXqRS1s_xVVWgnASkOP6E</string>
	<key>GCM_SENDER_ID</key>
	<string>1054760619727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stpwinc.betatms</string>
	<key>PROJECT_ID</key>
	<string>intradb-e6773</string>
	<key>STORAGE_BUCKET</key>
	<string>intradb-e6773.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054760619727:ios:f73cfe1ec84331fb8131ba</string>
</dict>
</plist>